@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="princ">
    <div class="pane-master">
        <h3>Master-role</h3>
        <div>
            <div>
                <div>mitt=<input type="text" id="mitt" value="browser" /></div>
                <div>dest=<input type="text" id="dest" value="server" /></div>
                <div>serv=<input type="text" id="serv" value="somma" /></div>
                <div>a=<input type="number" id="numa" value="123" /></div>
                <div>b=<input type="number" id="numb" value="456" /></div>
                <button id="btnExec">Esegui</button>
                <p id="result"></p>
            </div>
        </div>
    </div>

    <div class="pane-log">
        <h3>Log</h3>
        <ul id="log">

        </ul>
    </div>
</div>